
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}



.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

body, html {
    height:100%;
}

#board{
    width:100vw;
    max-width:100%;  /* added for scroll bar*/ 
    height:80vh;
    position: relative;
}

.deck{
    border:1px solid black;
    position: absolute;
    width:72px;
    height:100px;
}

#deck-1 { left:5px; top: 5px}
#deck-2 { right:5px; top: 5px}
#deck-3 { right:5px; bottom: 5px}
#deck-4 { left:5px; bottom: 5px}

.card {
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    position: absolute;
    width:108px;
    height:150px;
    transition: transform 0.8s;

    background-color: transparent;
    border: 1px solid #f1f1f1;

}

.card .back, .card .front{
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    width:100%;
    left:0px;
}

.card .back {
    transform:rotateY(180deg);
    background-color: dodgerblue;
    color: white;
}

.card.flip .card-inner {
    transform:rotateY(180deg);
}

.card.peek {
    border:2px solid red;
}
.card.peek .card-inner {
    transform:rotateY(0deg);
}

.card.tap .card-outer {
    transform:rotateZ(90deg);
}

.card-inner, .card-outer {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.card .menu {
    width:100%;
    position:absolute;
    bottom:0;
    display:none;
}

.card:hover .menu{
    display:flex;
}

.card .menu button {
    width:33%;
    height:25px;
}

.custom-modal{
    display:flex;
    width: 600px;
    margin: 30px auto;
}

.actions{
    padding:10px;
}

.counter {
    position: absolute;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    width:32px;
    height: 32px;
    border-radius: 90%;
    left:38px;
    top:20px;
    
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 3px -3px 5px  rgba(0,0,0,0.6);
    -moz-box-shadow:3px -3px 5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 3px -3px  5px  rgba(0,0,0,0.6);
    -o-box-shadow: 3px -3px  5px  rgba(0,0,0,0.6);
    border-radius:25px;
}
